<!--
  /*********************************************************************************
* WEB422 – Assignment 5
* I declare that this assignment is my own work in accordance with Seneca Academic Policy. No part of this
* assignment has been copied manually or electronically from any other source (including web sites) or
* distributed to other students. *
* Name: Artem Solovev Student ID: 136267184 Date: 03/26/2021
* ********************************************************************************/
-->
<!--/header-->
<div class="color-border"> </div>
<section id="inner-page">
  <div class="container">
    <div class="center">
      <h1><b>About Us</b></h1>
      <h4>My name is Artem Solovev. I am an internation student at Seneca from Russia. Currently studying on my 4th and last semester on CPD (Computer Programming) programm</h4>
    </div>
    <div class="about-us">
      <div class="row">
        <div class="col-md-4 col-sm-6"><img src="assets/images/about.png" class="img-responsive" alt=""/> </div>
        <!--/.col-md-4-->
        
      